.features {
    display: flex;
}

.features__item {
    margin-right: 48px;
    

    &:last-child {
        margin-right: 0;
    }
}

.features__icon {
    width: 34;
    height: 35;
   
}